# Quality Assessment
Now it's your turn. Follow [the steps on the platform](https://platform.wbscodingschool.com/courses/data-science/9474/) and use what you've learnt to see how reliable the data is.

In [ ]:
import pandas as pd#products_mecl from downloads has been used here below

Load our cleaned DataFrames

In [ ]:
# orders_cl.csv
url = "https://drive.google.com/file/d/1Tla62vfu__kCqvgypZyVt2S9VuC016yH/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
orders_cl = pd.read_csv(path)

# orderlines_cl.csv
url = "https://drive.google.com/file/d/1OhtkQS2fwOYdzfd-qPh7im35iLc-L9TA/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
orderlines_cl = pd.read_csv(path)

#products_mecl.csv
path="/content/products_mecl.csv"
products_mecl=pd.read_csv(path)

#products_cl.csv
url = "https://drive.google.com/file/d/1s7Lai4NSlsYjGEPg1QSOUJobNYVsZBOJ/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
products_cl = pd.read_csv(path)

In [ ]:
products_mecl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10157 entries, 0 to 10156
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sku       10157 non-null  object
 1   name      10157 non-null  object
 2   desc      10151 non-null  object
 3   price     10157 non-null  float64
 4   in_stock  10157 non-null  int64
 5   type      10110 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 476.2+ KB

## 1.&nbsp; Define Pandas display format

In [ ]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_rows', 1000)

## 2.&nbsp; Exclude unwanted orders

In [ ]:
orderlines_cl=orderlines_cl.drop(columns=["upt"])

In [ ]:
orders_cl.state.value_counts()

Shopping Basket    117809
Completed           46605
Place Order         40883
Pending             14374
Cancelled            7233
Name: state, dtype: int64

In [ ]:
orderlines_cl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55849 entries, 0 to 55848
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                55849 non-null  int64
 1   order_id          55849 non-null  int64
 2   product_quantity  55849 non-null  int64
 3   sku               55849 non-null  object
 4   unit_price        55849 non-null  float64
 5   date              55849 non-null  object
 6   created_date      55849 non-null  object
 7   total_paid        55849 non-null  float64
 8   state             55849 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 6.3+ MB

In [ ]:
orders_cl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226904 entries, 0 to 226903
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   order_id      226904 non-null  int64
 1   created_date  226904 non-null  object
 2   total_paid    226904 non-null  float64
 3   state         226904 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 6.9+ MB

In [ ]:
# orderlines.csv
url = "https://drive.google.com/file/d/1FYhN_2AzTBFuWcfHaRuKcuCE6CWXsWtG/view?usp=sharing" 
path = "https://drive.google.com/uc?export=download&id="+url.split("/")[-2]
orderlines_og = pd.read_csv(path)
orderlines = orderlines_og.copy()

orderlines.drop_duplicates("id", inplace = True)

orderlines.drop(columns="product_id", inplace = True)

cents= orderlines["unit_price"].str.replace('.','')
orderlines["unit_price"] = cents.str[:-2]+'.'+cents.str[-2:]
orderlines["unit_price"] = pd.to_numeric(orderlines["unit_price"])

#orderlines = orderlines[orderlines["unit_price"]>0]

orderlines["date"] = pd.to_datetime(orderlines["date"])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  # This is added back by InteractiveShellApp.init_path()

In [ ]:
wanted_orders=orders_cl.loc[((orders_cl.state == 'Completed'))]
orderlines.rename(columns={'id_order':'order_id'},inplace= True)
wo=orderlines.merge(wanted_orders, how='inner')
dx= wo.loc[wo.sku.isin(products_mecl.sku)]
dx.head(9)

,id,order_id,product_quantity,sku,unit_price,date,created_date,total_paid,state
0,1119116,299545,1,OWC0100,47.49,2017-01-01 01:46:16,2017-01-01 01:51:47,51.48,Completed
1,1119119,299546,1,IOT0014,18.99,2017-01-01 01:50:34,2017-01-01 01:57:34,18.99,Completed
2,1119120,295347,1,APP0700,72.19,2017-01-01 01:54:11,2017-01-01 02:02:38,72.19,Completed
3,1119126,299549,1,PAC0929,2565.99,2017-01-01 02:07:42,2017-01-02 10:00:20,2565.99,Completed
4,1119134,299556,1,CRU0039-A,60.90,2017-01-01 02:20:14,2017-01-01 02:30:08,65.89,Completed
5,1119145,299561,1,PEB0015,142.49,2017-01-01 02:38:50,2017-01-01 02:39:47,154.48,Completed
6,1119154,299563,1,BEA0065,256.49,2017-01-01 02:42:05,2017-01-01 02:47:58,263.48,Completed
7,1119155,299564,1,SAT0010,18.99,2017-01-01 02:43:37,2017-01-01 02:50:18,23.98,Completed
8,1119181,299571,1,SYN0139,166.24,2017-01-01 04:00:44,2017-01-01 12:07:29,323.22,Completed

In [ ]:
dx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60911 entries, 0 to 62102
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                60911 non-null  int64
 1   order_id          60911 non-null  int64
 2   product_quantity  60911 non-null  int64
 3   sku               60911 non-null  object
 4   unit_price        60911 non-null  float64
 5   date              60911 non-null  datetime64[ns]
 6   created_date      60911 non-null  object
 7   total_paid        60911 non-null  float64
 8   state             60911 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 4.6+ MB

## 3.&nbsp; Exclude orders with unknown products

In [ ]:
wanted_orders=orders_cl.loc[~((orders_cl.state == 'Completed'))]
orderlines_cl.rename(columns={'id_order':'order_id'},inplace= True)
wo=orderlines_cl.merge(wanted_orders, how='inner')
dx1= wo.loc[wo.sku.isin(products_mecl.sku)]
dx1.drop(dx1.index,inplace=False)

Empty DataFrame
Columns: [id, order_id, product_quantity, sku, unit_price, date, created_date, total_paid, state]
Index: []

## 4.&nbsp; Explore the revenue from different tables

#### Step 1:
Create the `unit_price_total` as `orderlines.unit_price` * `prderlines.product_quantity`

In [ ]:
dx2=dx.copy()

In [ ]:
dx2["unit_price_total"]= orderlines_cl.unit_price*orderlines_cl.product_quantity
dx2

,id,order_id,product_quantity,sku,unit_price,date,created_date,total_paid,state,unit_price_total
0,1119116,299545,1,OWC0100,47.49,2017-01-01 01:46:16,2017-01-01 01:51:47,51.48,Completed,47.49
1,1119119,299546,1,IOT0014,18.99,2017-01-01 01:50:34,2017-01-01 01:57:34,18.99,Completed,18.99
2,1119120,295347,1,APP0700,72.19,2017-01-01 01:54:11,2017-01-01 02:02:38,72.19,Completed,72.19
3,1119134,299556,1,CRU0039-A,60.90,2017-01-01 02:20:14,2017-01-01 02:30:08,65.89,Completed,60.90
4,1119145,299561,1,PEB0015,142.49,2017-01-01 02:38:50,2017-01-01 02:39:47,154.48,Completed,142.49
...,...,...,...,...,...,...,...,...,...,...
55844,1649446,527042,1,APP0927,13.99,2018-03-14 11:42:38,2018-03-14 11:47:50,18.98,Completed,13.99
55845,1649512,527070,2,APP0698,9.99,2018-03-14 11:49:01,2018-03-14 11:50:48,24.97,Completed,19.98
55846,1649522,527074,2,APP0698,9.99,2018-03-14 11:49:36,2018-03-14 11:51:42,24.97,Completed,19.98
55847,1649565,527096,3,APP0698,9.99,2018-03-14 11:54:35,2018-03-14 11:58:40,34.96,Completed,29.97
55848,1649593,527112,1,APP0698,9.99,2018-03-14 11:58:13,2018-03-14 12:03:52,14.98,Completed,9.99

#### Step 2: 
Group by `order_id`, summarising by the sum of `unit_price_total`

In [ ]:
dx2["unit_price_total"]= orderlines_cl.unit_price*orderlines_cl.product_quantity
dx2.groupby('order_id')['unit_price_total'].sum()

order_id
241423   129.16
242832    10.77
243330    77.99
245275   149.00
245595   105.98
          ...
527042    13.99
527070    19.98
527074    19.98
527096    29.97
527112     9.99
Name: unit_price_total, Length: 42569, dtype: float64

### What is the average difference between `total_paid` and `unit_price_total`?

In [ ]:
dx2["difference"]= (dx2.total_paid - dx2.unit_price_total)
dx2

,id,order_id,product_quantity,sku,unit_price,date,created_date,total_paid,state,unit_price_total,difference
0,1119116,299545,1,OWC0100,47.49,2017-01-01 01:46:16,2017-01-01 01:51:47,51.48,Completed,47.49,3.99
1,1119119,299546,1,IOT0014,18.99,2017-01-01 01:50:34,2017-01-01 01:57:34,18.99,Completed,18.99,0.00
2,1119120,295347,1,APP0700,72.19,2017-01-01 01:54:11,2017-01-01 02:02:38,72.19,Completed,72.19,0.00
3,1119134,299556,1,CRU0039-A,60.90,2017-01-01 02:20:14,2017-01-01 02:30:08,65.89,Completed,60.90,4.99
4,1119145,299561,1,PEB0015,142.49,2017-01-01 02:38:50,2017-01-01 02:39:47,154.48,Completed,142.49,11.99
...,...,...,...,...,...,...,...,...,...,...,...
55844,1649446,527042,1,APP0927,13.99,2018-03-14 11:42:38,2018-03-14 11:47:50,18.98,Completed,13.99,4.99
55845,1649512,527070,2,APP0698,9.99,2018-03-14 11:49:01,2018-03-14 11:50:48,24.97,Completed,19.98,4.99
55846,1649522,527074,2,APP0698,9.99,2018-03-14 11:49:36,2018-03-14 11:51:42,24.97,Completed,19.98,4.99
55847,1649565,527096,3,APP0698,9.99,2018-03-14 11:54:35,2018-03-14 11:58:40,34.96,Completed,29.97,4.99
55848,1649593,527112,1,APP0698,9.99,2018-03-14 11:58:13,2018-03-14 12:03:52,14.98,Completed,9.99,4.99

### What is the distribution of these differences?

In [ ]:
dx2.groupby(['order_id'])['difference'].mean().describe()

count   42569.00
mean       39.66
std       117.77
min      -165.00
25%         3.99
50%         4.99
75%         6.99
max      3984.99
Name: difference, dtype: float64

### Can all the differences be explained by shipping costs? If not, what are other plausible explanations?

In [ ]:
#yes because total_paid is higher than the unit_price. #delivery_cost

### If there are differences that you can’t explain: what should you do with these orders?

In [ ]:
# your code here

## 5.&nbsp; Become confident about your dataset

Let's hear your thoughts about what you discovered.

Do not forget to download your quality controlled DataFrames

In [ ]:
dx=dx.drop(columns=["state"])

In [ ]:
dx.head(10)

,id,order_id,product_quantity,sku,unit_price,date,created_date,total_paid,state
0,1119116,299545,1,OWC0100,47.49,2017-01-01 01:46:16,2017-01-01 01:51:47,51.48,Completed
1,1119119,299546,1,IOT0014,18.99,2017-01-01 01:50:34,2017-01-01 01:57:34,18.99,Completed
2,1119120,295347,1,APP0700,72.19,2017-01-01 01:54:11,2017-01-01 02:02:38,72.19,Completed
3,1119134,299556,1,CRU0039-A,60.90,2017-01-01 02:20:14,2017-01-01 02:30:08,65.89,Completed
4,1119145,299561,1,PEB0015,142.49,2017-01-01 02:38:50,2017-01-01 02:39:47,154.48,Completed
5,1119154,299563,1,BEA0065,256.49,2017-01-01 02:42:05,2017-01-01 02:47:58,263.48,Completed
6,1119155,299564,1,SAT0010,18.99,2017-01-01 02:43:37,2017-01-01 02:50:18,23.98,Completed
7,1119181,299571,1,SYN0139,166.24,2017-01-01 04:00:44,2017-01-01 12:07:29,323.22,Completed
8,1119325,299571,1,WDT0183,151.99,2017-01-01 12:00:57,2017-01-01 12:07:29,323.22,Completed
9,1119188,299578,1,LOG0191,142.49,2017-01-01 08:21:26,2017-01-01 13:00:05,142.49,Completed

In [ ]:
from google.colab import files

dx.to_csv("mergedorders_qu.csv", index=False)
files.download("mergedorders_qu.csv")

#ot.to_csv("orderlines_qu.csv", index=False)
#files.download("orderlines_qu.csv")

Discounts are defined as the difference between orderlines.unit_price and products.price. Merging both tables and creating a column that contains the discount is, thus, probably a good idea. Drop the columns that you don’t need so that they don’t confuse you."